<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

<% if user.role == "employee" %>
<p>
<strong>Branch Office:</strong>
<%= @branch_office.name %> (<%= @branch_office.address %>)
</p>
<% end %>

</div>
