<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<br>
<% if can? :create, User %>
<%= link_to "New user", new_user_path, class:"btn btn-success" %>

<% end %>

<br>
<br>

<div id="users">

<table class="table table-dark table-hover">
    <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <% if can? :read, user %>
      <tr>
        <td><%=user.email%></td>
        <td><%=user.role%></td>
        <td><%= link_to "Show this user", user , class:"btn btn-primary"%></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
   
</div>
