<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>
 
<br>
<% if can? :create, Schedule %>
<%= link_to "New schedule", new_schedule_path, class:"btn btn-success" %>

<% end %>

<br>
<br>

<div id="schedules">
<table class="table table-dark table-hover">
    <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <% @schedules.each do |schedule| %>
      <% if can? :read, schedule %>
      <tr>
        <td><%=schedule.day%></td>
        <td><%=schedule.from.strftime("%H:%M")%></td>
        <td><%=schedule.to.strftime("%H:%M")%></td>
        <td><%= link_to "Show this schedule", schedule, class:"btn btn-primary" %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>