<div id="<%= dom_id turn %>">
  <p>
    <strong>Date:</strong>
    <%= turn.date %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= turn.hour.strftime("%H:%M") %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= turn.motive %>
  </p>
<% if turn.result == nil %>
  <p>
    <strong>Result:</strong>  
    <%= "empty" %>
  </p>
<% else %>
  <p>
    <strong>Result:</strong>
    <%= turn.result %>
  </p>
<% end %>
  <p>
    <strong>Status:</strong>
    <%= turn.status %>
  </p>

  <p>
  <strong>User:</strong>
  <%= turn.user_id %>
</p>

<% if turn.employee_id == nil %>
  <p>
    <strong>Employee:</strong>  
    <%= "empty" %>
  </p>
<% else %>
  <p>
    <strong>Employee:</strong>
    <%= turn.employee_id %>
  </p>
<% end %>

</div>
