<%= form_with(model: branch_offices_schedule) do |form| %>
  <% if branch_offices_schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(branch_offices_schedule.errors.count, "error") %> prohibited this branch_offices_schedule from being saved:</h2>

      <ul>
        <% branch_offices_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :branch_office_id, style: "display: block" %>
    <%= form.select :branch_office_id, options_for_select(BranchOffice.all.collect { |x| [x.name + " (" + x.address + ") " , x.id]}) %>

  </div>

  <div>
    <%= form.label :schedule_id, style: "display: block" %>
    <%= form.select :schedule_id, options_for_select(Schedule.all.collect { |x| [x.day + " from " + x.from.strftime("%H:%M") + " to " + x.to.strftime("%H:%M") , x.id]}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
