<p style="color: green"><%= notice %></p>

<h1>Branch offices schedules</h1>

<br>
<% if can? :create, BranchOfficesSchedule %>
<div class="btn btn-success">
<%= link_to "New branch offices schedule", new_branch_offices_schedule_path %>
</div>

<% end %>

<br>
<br>
<div id="branch_offices_schedules">
<table class="table table-dark table-hover">
    <thead>
    <tr>
      <th scope="col">Branch office</th>
      <th scope="col">Schedule</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>

    <% @branch_offices_schedules.each do |branch_offices_schedule| %>
      <% if can? :read, branch_offices_schedule %>
      <tr>
        <td><%=branch_offices_schedule.branch_office_id%></td>
        <td><%=branch_offices_schedule.schedule_id%></td>
        <td><%= link_to "Show this branch office schedule", branch_offices_schedule %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>