<%= form_with(model: branch_office) do |form| %>
  <% if branch_office.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(branch_office.errors.count, "error") %> prohibited this branch_office from being saved:</h2>

      <ul>
        <% branch_office.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="<%= dom_id branch_office %>">
  <p>
    <strong>Name:</strong>
    <%= branch_office.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= branch_office.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= branch_office.phone %>
  </p>

  <p>
  <strong>Locality:</strong>
  <%= @locality.province %> - <%=@locality.name %>
</p>

  
</div>
<% end %>