<p style="color: green"><%= notice %></p>

<h1>Branch offices</h1>

<br>
<% if can? :create, BranchOffice %>
<%= link_to "New branch office", new_branch_office_path, class:"btn btn-success"%> <br>
<br>
<% if can? :read, BranchOfficesSchedule %>

<%= link_to "new branch office hours", new_branch_offices_schedule_path , class:"btn btn-success"%>
<% end %>


<% end %>

<br>
<br>

<div id="branch_offices">
<table class="table table-dark table-hover">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <% @branch_offices.each do |branch_office| %>
      <% if can? :read, branch_office %>
      <tr>
        <td><%=branch_office.name%></td>
        <td><%=branch_office.address%></td>
        <td><%=branch_office.phone%></td>
        <td><%= link_to "Show this branch office", branch_office, class:"btn btn-primary"%></td>
        <td><%= link_to "Show this schedules", branch_offices_schedules_path(branch_office_id: branch_office.id ) , class:"btn btn-primary"%></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>