<p style="color: green"><%= notice %></p>

<%= render @branch_office %>

<div>
<% if can? :update, @branch_office %>
  <%= link_to "Edit this branch office", edit_branch_office_path(@branch_office) %> 
<% end %>
<% if can? :read, BranchOffice %>
  <%= link_to "Back to branch offices", branch_offices_path %>
<% end %>
  <% if can? :destroy, @branch_office %>
  <%= button_to "Destroy this branch office", @branch_office, form: { data: { turbo_confirm: "want to delete it?" } },method: :delete, class: 'btn btn-danger' %>
  <% end %>
  </div>
